<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.blog.mapper.ArchiveMapper">

    <select id="queryAllArchive" resultType="com.blog.entity.Archive">
        SELECT
            YEAR(article.publishDate)AS `year`,
            DATE_FORMAT(publishDate,'%m') AS `month`,
            DATE_FORMAT(publishDate,'%d') AS `day`,
            article.articleTitle,
            article.articleId
        FROM article
            ORDER BY publishDate DESC;
    </select>

</mapper>
